/bird.Rx.R1.conf
/bird.Rx.R2.conf
/bird.Rx.R3.conf
/bird.V1-1.conf
/bird.V1-2.conf
/bird.V2-1.conf
/bird.V2-2.conf
/bird.V3-1.conf
/bird.V3-2.conf
/ipsec.V1-1.conf
/ipsec.V1-1.secrets
/ipsec.V1-2.conf
/ipsec.V1-2.secrets
/ipsec.V2-1.conf
/ipsec.V2-1.secrets
/ipsec.V2-2.conf
/ipsec.V2-2.secrets
/ipsec.V3-1.conf
/ipsec.V3-1.secrets
/ipsec.V3-2.conf
/ipsec.V3-2.secrets
/ipsec-updown.V2-1
/ipsec-updown.V1-1
/ipsec-updown.V1-2
/ipsec-updown.V2-2
/ipsec-updown.V3-1
/ipsec-updown.V3-2
