/bird6.Rx.R1.conf
/bird6.Rx.R2.conf
/bird6.Rx.R3.conf
/bird6.V1-1.conf
/bird6.V1-1.private.conf
/bird6.V1-2.conf
/bird6.V1-2.private.conf
/bird6.V2-1.conf
/bird6.V2-1.private.conf
/bird6.V2-2.conf
/bird6.V2-2.private.conf
/bird6.V3-1.conf
/bird6.V3-1.private.conf
/bird6.V3-2.conf
/bird6.V3-2.private.conf
/ipsec.V1-1.conf
/ipsec.V1-1.secrets
/ipsec.V1-2.conf
/ipsec.V1-2.secrets
/ipsec.V2-1.conf
/ipsec.V2-1.secrets
/ipsec.V2-2.conf
/ipsec.V2-2.secrets
/ipsec.V3-1.conf
/ipsec.V3-1.secrets
/ipsec.V3-2.conf
/ipsec.V3-2.secrets
