#!/bin/sh

exec >> /var/log/ipsec.log 2>&1

echo '##################'
date
env | grep '^PLUTO'

set -ex
VTI_IF="vti${PLUTO_UNIQUEID}"
case $PLUTO_CONNECTION in
{%- for i in range(1,xmax+1) if i != x %}
{%- for j in range(1,ymax+1) %}
    V{{i}}-{{j}})
{%- set mark1 = (i-1)*ymax + j %}
{%- set mark2 = (x-1)*ymax + y %}
{%- if mark1 < mark2 %}
      ME=172.22.15.{{ (mark1*xmax*ymax + mark2) * 2 }}
      PEER=172.22.15.{{ (mark1*xmax*ymax + mark2) * 2 + 1 }}
{%- else %}
      ME=172.22.15.{{ (mark2*xmax*ymax + mark1) * 2 + 1 }}
      PEER=172.22.15.{{ (mark2*xmax*ymax + mark1) * 2 }}
{%- endif %}
      ;;
{%- endfor %}
{%- endfor %}
esac

case "${PLUTO_VERB}" in
    up-client)
        ip tunnel add "${VTI_IF}" local "${PLUTO_ME}" remote "${PLUTO_PEER}" mode vti \
            okey "${PLUTO_MARK_OUT%%/*}" ikey "${PLUTO_MARK_IN%%/*}"
        ip addr add "${ME}" peer "${PEER}" dev "${VTI_IF}"
        sysctl -w "net.ipv4.conf.${VTI_IF}.disable_policy=1"
        ip link set "${VTI_IF}" mtu 1426
        ip link set "${VTI_IF}" up
        ;;
    down-client)
        ip tunnel del "${VTI_IF}"
        ;;
esac
