[submodule "lab-f5-puppet/puppet/modules/f5"]
	path = lab-f5-puppet/puppet/modules/f5
	url = git@github.com:puppetlabs/puppetlabs-f5.git
[submodule "lab-pping-xdp/bpf-examples"]
	path = lab-pping-xdp/bpf-examples
	url = git@github.com:xdp-project/bpf-examples.git
