/leaf01/etc/frr/frr.conf
/leaf01/etc/network/interfaces
/leaf02/etc/frr/frr.conf
/leaf02/etc/network/interfaces
/leaf03/etc/frr/frr.conf
/leaf03/etc/network/interfaces
/leaf04/etc/frr/frr.conf
/leaf04/etc/network/interfaces
/spine01/etc/frr/frr.conf
/spine01/etc/network/interfaces
/spine02/etc/frr/frr.conf
/spine02/etc/network/interfaces
/leaf01/etc/frr/daemons
/leaf01/run
/leaf02/etc/frr/daemons
/leaf02/run
/leaf03/etc/frr/daemons
/leaf03/run
/leaf04/etc/frr/daemons
/leaf04/run
/spine01/etc/frr/daemons
/spine01/run
/spine02/etc/frr/daemons
/spine02/run
