/leaf*
/spine*
/quagga-zebra.*
/leaf01/etc/frr/frr.conf
/leaf01/etc/network/interfaces
/leaf02/etc/frr/frr.conf
/leaf02/etc/network/interfaces
/leaf03/etc/frr/frr.conf
/leaf03/etc/network/interfaces
/leaf04/etc/frr/frr.conf
/leaf04/etc/network/interfaces
/spine01/etc/frr/frr.conf
/spine01/etc/network/interfaces
/spine02/etc/frr/frr.conf
/spine02/etc/network/interfaces
/quagga-bgpd.server01.conf
/quagga-bgpd.server03.conf
/quagga-bgpd.server02.conf
/quagga-bgpd.server04.conf
