/bird.Rx.R1.conf
/bird.Rx.R2.conf
/bird.Rx.R3.conf
/bird.V1-1.private.conf
/bird.V1-2.private.conf
/bird.V2-1.private.conf
/bird.V2-2.private.conf
/bird.V3-1.private.conf
/bird.V3-2.private.conf
/bird6.Rx.R1.conf
/bird6.Rx.R2.conf
/bird6.Rx.R3.conf
/bird6.V1-1.conf
/bird6.V1-1.private.conf
/bird6.V1-2.conf
/bird6.V1-2.private.conf
/bird6.V2-1.conf
/bird6.V2-1.private.conf
/bird6.V2-2.conf
/bird6.V2-2.private.conf
/bird6.V3-1.conf
/bird6.V3-1.private.conf
/bird6.V3-2.conf
/bird6.V3-2.private.conf
/wg1.V2-1.conf
/wg1.V2-2.conf
/wg1.V3-1.conf
/wg1.V3-2.conf
/wg2.V2-1.conf
/wg2.V2-2.conf
/wg2.V3-1.conf
/wg2.V3-2.conf
/wg3.V1-1.conf
/wg3.V1-2.conf
/wg3.V3-1.conf
/wg3.V3-2.conf
/wg4.V1-1.conf
/wg4.V1-2.conf
/wg4.V3-1.conf
/wg4.V3-2.conf
/wg5.V1-1.conf
/wg5.V1-2.conf
/wg5.V2-1.conf
/wg5.V2-2.conf
/wg6.V1-1.conf
/wg6.V1-2.conf
/wg6.V2-1.conf
/wg6.V2-2.conf
